<header>
  <h1>Music collection database</h1>
  <aside>
    {{#link-to "songs"}}Songs{{/link-to}}
    {{#link-to "albums"}}Albums{{/link-to}}
    {{#link-to "artists"}}Artists{{/link-to}}
  </aside>
</header>

{{outlet}}
